.avatar {
  width: 100%;
  margin-bottom: 20px;
}
.name {
  font-size: 34px;
  letter-spacing: 1px;
}
.online {
  color: green;
  font-size: 22px;
  letter-spacing: 1px;
}
.offline {
  color: red;
  font-size: 22px;
  letter-spacing: 1px;
}
